# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/vids

#ignore extention-less files
*
!/**/
!*.*

#MacOS files
.DS_Store

#ignore exe files
*.exe
*.mp4
*.mp3
*.webm
*.ogg

*__pycache__


.idea
.vscode
test.py
test.cpp
settings.txt